<div class="h-full flex justify-center items-center">
  <div class="max-w-[444px] w-[296px] sm:min-w-[444px] rounded-xl drop-shadow-lg bg-white">
    <div class="p-8 sm:px-6 text-center">
      <h2 class="text-3xl font-semibold text-slate-900">Masuk</h2>
      <p class="mt-2 text-base text-slate-500">Silakan masuk untuk melanjutkan</p>
      <hr class="my-4" />
      <form>
        <label class="block text-left mt-7">
          <span class="block text-base font-medium text-slate-700">Username</span>
          <div class="flex bg-gray-50 border overflow-hidden border-gray-300 text-gray-900 text-sm rounded-lg w-full h-fit mt-1">
            <input name="username" class="w-full bg-transparent p-2.5 rounded-lg" />
          </div>
        </label>
        <label class="block text-left mt-4">
          <span class="block text-base font-medium text-slate-700">Password</span>
          <div class="flex bg-gray-50 border overflow-hidden border-gray-300 text-gray-900 text-sm rounded-lg w-full h-fit mt-1">
            <input name="password" class="w-full bg-transparent p-2.5 rounded-lg" type="password" />
          </div>
        </label>
        <button type="submit" class="w-full mt-7 bg-primary-500 hover:bg-primary-600 active:bg-primary-600 text-white min-h-[44px] p-3 rounded-md text-base font-semibold whitespace-nowrap transition-all">
            Masuk
        </button>
      </form>
    </div>
  </div>
</div>
