/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin:0;
  padding:0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: theme('colors.background');
}
