<div class="max-w-7xl mx-auto xl:px-0 px-8 py-12">
  <div class="flex flex-col sm:justify-between justify-center items-center sm:flex-row">
    <div class="text-center sm:text-left">
      <h1 class="text-slate-900 text-3xl font-semibold">JDS Take Home Test - Rizki Banyu Firdaus</h1>
      <p class="text-slate-500 mt-1 text-base">
        Berikut adalah visualisasi data yang diperoleh dari <a href="https://opendata.jabarprov.go.id/">https://opendata.jabarprov.go.id/</a>
      </p>
    </div>
  </div>
  <div class="flex items-center space-x-8">
    <div class="rounded-xl drop-shadow-lg bg-white mt-12 p-8">
      <ng-container *ngIf="!anakStuntingPerTahunLoading; else perTahunChartIsLoading">
        <app-line chartName="anakStuntingPerTahun" chartTitle="Angka Balita Stunting per Tahun di Jawa Barat" [data]="anakStuntingPerTahun"></app-line>
      </ng-container>
      <ng-template #perTahunChartIsLoading>
        <div class="h-[400px] w-[750px] animate-pulse bg-slate-200 rounded">

        </div>
      </ng-template>
    </div>
    <ng-container *ngIf="!anakStuntingPerTahunLoading; else perTahunCaptionIsLoading">
      <div class="flex-grow">
        Melihat perkembangan jumlah anak balita yang mengalami stunting dari tahun ke tahun, terlihat jumlah kasus masih tergolong banyak. Mengapa hal itu dapat terjadi? Salah satu faktor penyebabnya adalah dengan tidak diberikannya ASI Eksklusif pada bayi.
      </div>
    </ng-container>
    <ng-template #perTahunCaptionIsLoading>
      <div class="animate-pulse flex-grow">
        <div class="h-4 bg-slate-200 rounded w-full"></div>
        <div class="h-4 bg-slate-200 rounded w-full mt-2"></div>
        <div class="h-4 bg-slate-200 rounded w-full mt-2"></div>
        <div class="h-4 bg-slate-200 rounded w-full mt-2"></div>
        <div class="h-4 bg-slate-200 rounded w-full mt-2"></div>
        <div class="h-4 bg-slate-200 rounded w-1/4 mt-2"></div>
      </div>
    </ng-template>
  </div>
  <div class="flex items-center space-x-8">
    <div>
      <div class="rounded-xl drop-shadow-lg bg-white mt-12 p-8 flex flex-col space-y-8">
        <ng-container *ngIf="!anakStuntingPerKabKota2021Loading && !pemberianASIEkslusifPerKabKota2021Loading; else perbandinganChartIsLoading">
          <app-bar chartName="anakStuntingPerKabKota2021" chartTitle="Angka Balita Stunting Berdasarkan Kabupaten/Kota di Jawa Barat tahun 2021" [data]="anakStuntingPerKabKota2021"></app-bar>
          <app-bar chartName="pemberianASIEkslusifPerKabKota2021" chartTitle="Persentase Pemberian Air Susu Ibu (ASI) Eksklusif pada Bayi <6 Bulan Berdasarkan Kabupaten/Kota di Jawa Barat tahun 2021" [data]="pemberianASIEkslusifPerKabKota2021"></app-bar>
        </ng-container>
        <ng-template #perbandinganChartIsLoading>
          <div class="h-[400px] w-[750px] animate-pulse bg-slate-200 rounded">

          </div>
          <div class="h-[400px] w-[750px] animate-pulse bg-slate-200 rounded">

          </div>
        </ng-template>
      </div>
    </div>
    <ng-container *ngIf="!anakStuntingPerKabKota2021Loading && !pemberianASIEkslusifPerKabKota2021Loading; else perbandinganCaptionIsLoading">
      <div>
        Dapat terlihat dari perbandingan 2 data disamping bahwa dengan persentase pemberian ASI Eksklusif pada Kabupaten/Kota yang tinggi tidak menentukan jumlah kasus anak mengalami stunting rendah, melainkan hal tersebut dipengaruhi oleh faktor lain juga seperti PHBS (Pola Hidup Bersih Sehat) pun dapat menjadi faktor penyebab terjadinya anak mengalami stunting.
      </div>
    </ng-container>
    <ng-template #perbandinganCaptionIsLoading>
      <div class="animate-pulse flex-grow">
        <div class="h-4 bg-slate-200 rounded w-full"></div>
        <div class="h-4 bg-slate-200 rounded w-full mt-2"></div>
        <div class="h-4 bg-slate-200 rounded w-full mt-2"></div>
        <div class="h-4 bg-slate-200 rounded w-full mt-2"></div>
        <div class="h-4 bg-slate-200 rounded w-full mt-2"></div>
        <div class="h-4 bg-slate-200 rounded w-1/4 mt-2"></div>
      </div>
    </ng-template>
  </div>
</div>
